



main {
    padding: 80px;
    margin: 20px 0 500px;
}


.order{
   
}

label {
    display: block;
    margin: 10px 0 5px;
}

select, input {
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 1000px;
}

button {
    background-color: #4CAF50;
    margin-top: 20px;
    color: white;
    border: none;
    padding: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.showRequirements{
    padding: 20px;

}

#requirements-section {
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#requirements-section h1 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#requirements-list {
    list-style-type: disc;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #333;
}

#requirements-list li {
    margin-bottom: 5px; /* Spasi antar item */
}


@media (max-width: 900px) {
main {
    padding: 20px;
    margin: 20px 0 500px;
    }
    main h1{
        font-size: 1.3em;
    }
}