/* Reset some basic elements for consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f6;
}

#header {
background-color: #1c2331;
padding: 20px 5%;
color: white;
position: sticky;
top: 0;
transition:  0.3s ease;
z-index: 1000;
}

#header.shrink{
  padding: 5px ;
}

#header.shrink .header-logo img {
  height: 30px;
  width: 30px; 
}

#header.shrink .header-logo h3 {
  font-size: 14px; /* Smaller font size when scrolled */
}
#header.shrink .nav-links a {
  font-size: 14px; /* Smaller font size when scrolled */
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img.small-image {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  transition:  0.3s ease;
  background-color: transparent;
}

.header-logo h3 {
  font-size: 22px;
  transition: font-size 0.3s ease; 
}

.header-logo h3 a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-logo h3 a:hover {
  color: #f57c00;
}

#searchInput {
  color: #000;
  width: 100%; 
  padding: 20px; 
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px; 
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.menu-button {
  display: none;
}

.nav-links a:hover {
  color: #f57c00;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  display: inline-block;
  transition: color 0.3s, font-size 0.3s ease;
}
/* carousel */
.carousel {
position: relative;
width: 100%;
max-width: 100%;
margin: auto;
overflow: hidden;
}

.carousel-inner {
display: flex;
transition: transform 0.5s ease;
}

.carousel-item {
min-width: 100%;
box-sizing: border-box;
}

.carousel-item img {
width: 100%;
height: auto; /* Maintain aspect ratio */
}

.carousel-dots {
text-align: center;
padding: 10px;
position: absolute;
bottom: 10px;
width: 100%;
left: 0;
}

.dot {
display: inline-block;
width: 10px;
height: 10px;
margin: 0 5px;
background: #bbb;
border-radius: 50%;
  transition: background 0.3s;
}

.dot.active {
background: #717171;
}

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8% 5% 8% ;
  background: linear-gradient(to right, #1c2331, #003366);
  color: white;
  height: 88vh;
  overflow: hidden;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 1.6vw;
  margin-bottom: 20px;
  line-height: 1.3;
  white-space: nowrap;
}
.hero-text-not h1 {
  max-width: 50%;
  font-size: 1.6vw;
  margin-bottom: 20px;
  line-height: 1.3;
  white-space: nowrap;
}

.hakbar-show{
  display: none;
  font-size: 1.6vw;
  margin-bottom: 20px;
  line-height: 1.3;
  white-space: nowrap;
}


/* UPDATE */
#slide4-update h1{
  font-size: 1.6vw;
  white-space: wrap;
}
#slide4-update p{
  font-size: 20px;
}
.hero-image-update img {
  max-width: 650px;
  width: 100%;
}
/* END OF UPDATE */


.hero-text h2 {
  color:#Fff;
  font-weight: inherit;
  font-size: 1.2vw;
  margin-bottom: 5px;
  line-height: 1.3;
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
  display: block;
}

.hero-image img {
  max-width: 450px;
  width: 100%;
}

.hero-image2 img {
  order: 1;
  max-width: 500px;
  width: 100%;
}

.services-section h2 {
  text-align: center;
  padding-top: 10px;
}
/* Service Section */
.service-section-i {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px; /* Responsive padding */ 
}

.hero-vcontent {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
text-align: center;
z-index: 1;
}

.hero-vcontent h1 {
font-size: 2rem;
margin: 0;
}

.hero-vcontent p {
font-size: 1rem;
}

.hero-content{
  background-color: #ffffff;
  margin: 30px;
  border-radius: 8px;

}
.service-section-i .hero-content h1{
  color: #003366;
  font-size: 25px; 
  padding-bottom: 5px;
  text-align: center;
}
.service-section-i .hero-content p{
  font-size: 20px; 
}
.service-section-i .hero-content li strong{
  color: #003366;
}

.service-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.service-item {
  max-width: 30%; /* Ensures items don't become too wide */
  padding: 30px;
  margin: 10px 10px 10px 10px;
  border-radius: 8px;
  background-color: #ffffff;
  text-decoration: none;
  color: inherit;
  transition: filter 0.2s;
}

.service-item:hover {
  filter: brightness(0.9); /* Darken effect */
}

.service-item h3 {
  color: #003366;
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 1.2em;
}

.service-item p {
  color: #666;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify; 
}

.services-section {
  margin: 50px ;
  background-color: #fff;
  border-radius: 15px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
}

/* Styling for the service cards */
.links-pelayanan {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.link-pelayanan {
  border-radius: 100%;
  overflow: hidden;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none; /* Remove underline from text */
}

.link-pelayanan:hover {
  transform: scale(1.15);
}

.link-pelayanan img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* Ensure the image covers the container */
}

.link-pelayanan h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 1rem;
  padding: 0 1rem;
  flex-shrink: 0; /* Prevent text from shrinking */
}

/* Flexbox container for positioning */
.link-pelayanan .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Ensure links are clickable and styled */
.link-pelayanan a {
  text-decoration: none;
  color: inherit;
}


.tabel-layanan {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 50px;
  
}
.dropdown-content {
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  right: 0; 
  z-index: 1;
  width: 100%;
}

.dropdown-content.show {
  display: block;
}
.item {
  position: relative; /* Ensure dropdowns are positioned correctly */
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s;
  /* dropdown */
  cursor: Default;
  padding: 10px;
}
.item p{
  color: #07bd07;
  text-align: center;
  padding-top: 15px;
}

.judul-layanan {
  color: #07bd07;
  text-align: center;
  padding-top: 15px;
}
.dropdown-content li {
  margin-left: 20px;
  text-align: left;
  list-style-type:none
}

.item:hover {
  background-color: #ced3e8;
}

.highlight:hover {
  background-color: #f9f9c5;
  border: 1px solid #ffd700;
  
}

.badge {
  position: absolute; 
  top: -5px; 
  right: -10px; 
  background-color: #003366; 
  color:#fff; 
  padding: 5px 10px; 
  border-radius: 25px; 
  font-size: 0.7em;
}

/* Team Section */
.team {
  background-color: #46527a;
  color: white;
  padding: 60px 5%;
  margin: 10px 0 0 0;
  text-align: center;
}

.team h2 {
  font-size: 22px;
}

.team-members {
  display: flex;
  justify-content: space-between;
}

.team-member {
  width: 100%;
  background-color: #2e3a59;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}


.team-member img {
  object-fit: cover;
  max-height: 180px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;

}

.team-member h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 16px;
  color: #ddd;
}

/* Contact Form Section */
.contact-form {
  padding: 60px 5%;
}

.item button {
  margin-top: 12px;
  padding: 12px;
  background-color: #f57c00;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.item button:hover {
  background-color: #d86900;
}

.linkdansocmed {
  padding: 20px 5%;
  font-size: 15px;
}
.linkdansocmed h2{
  font-size: 16px;
}

.contact-form h2 {
  text-align: center;
  font-size: 1vw;
  color: #2e3a59;
}

.contact-form form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #666;
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: #f57c00;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #d86900;
}
.hero-image p{
  display: none;
}
  
  /* Footer Section */
.profile-footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  text-decoration: none;
}

.profile-footer h2 {
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

.footer p a {
  font-size: 1em;
  color: #fff;
  margin: 5px 0;
  text-decoration: none;
}

.footer {
  background-color: #0f1620;
  color: white;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}
  

/* profil.html */
.company-profile {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 30%;
  height: auto;
  margin-bottom: 10px;
}

.profile-header h1 {
  font-size: 2em;
  color: #333;
}

.profile-header img {
  max-width: 450px;
  width: 100%;
}
.profile-body {
  margin-bottom: 20px;
}

.profile-body p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
}

.profile-body h1 {
  font-size: 1.5vw;
}

.profile-footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.profile-footer h2 {
  font-size: 1.5em;
  color: #333;
}

.profile-footer p a {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: transparent;
  color: #ff7300;
  border: none;
  font-size: 2em;
  padding: 9px ;
  cursor: pointer;
  display: none; /* Initially hidden */
  z-index: 1000;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #07bd07;
  border-radius: 100%;
  color: white;
  border: none;
  font-size: 1em;
  padding: 15px 15px;
  cursor: pointer;
  z-index: 1000;
}
.socmed {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: white;
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  z-index: 1000;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.fa-instagram {
  bottom: 80px;
background-color: #e22d69;

}
.fa-x {
bottom: 140px;
background-color: #000;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
}

.fa-facebook-f {
bottom: 20px;
background-color: #4267B2;
}

.fa-telegram-plane {
bottom: 20px;
background-color: #4267B2;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.tablepress {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Table header styling */
.tablepress thead th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid #ddd;
}

/* Table cell styling */
.tablepress td, .tablepress th {
  padding: 8px;
  vertical-align: top;
}

/* Alternating row colors */
.tablepress tbody tr.odd {
  background-color: #f9f9f9;
}

.tablepress tbody tr.even {
  background-color: #ffffff;
}

/* Responsive table */
.tablepress-responsive {
  width: 100%;
  overflow-x: auto;
}

/* Adjust table width */
.tablepress-scroll-wrapper {
  overflow-x: auto;
}

/* Header row */
.tablepress thead th.column-2 {
  width: 30%;
}

.tablepress thead th.column-3 {
  width: 5%;
  text-align: left;
}

.tablepress thead th.column-4 {
  width: 65%;
}

/* Add hover effect for rows */
.tablepress tbody tr:hover {
  background-color: #eaeaea;
}

.search{
  padding: 0 10px 0 10px;
  position: fixed;
  width: 100%;
  color: #fff;
  background-color: #1c2331;
  z-index: 1;
}
.search input{
  height: 10px;
}


.whys-title {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
}

.why-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.why-card {
  background-color: #18396f;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  flex: 0 0 calc(25% - 30px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.why-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.why-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.why-description {
  font-size: 11px;
  margin-bottom: 10px;
  color: #c4c9f3;
}


.btn-learn-more:hover {
  background-color: #b98fff;
}

@media (max-width: 1500px) {
  .why-card {
      flex: 0 0 calc(50% - 30px);
  }
}


@media (max-width: 900px) {
.hero {
  flex-direction: column;
  text-align: center;
  height: 78vh;
  padding-bottom: 300px;
}

.profile-header h1 {
  font-size: 2.5vh;
}

.hero-wbg {
  flex-direction: column;
  text-align: center;
  height: 78vh;
}
.hero-bg {
  background-size: 130%;
}

.hakbar-hide{
  display: none;
}

.hakbar-show{
display: block;
font-size: 1.6vw;
margin-bottom: 20px;
line-height: 1.3;
white-space: nowrap;
}

.hero-text {
  order: 2; 
  max-width: 100%;
}

.hero-text-not {
  order: 1; 
  max-width: 100%;
}

.hero-text h1{
  font-size: 4.5vw;
}
.hero-text h2{
  font-size: 3.6vw;
}

.hero-text-not h1{
  font-size: 28px;
  padding-bottom: 20px;
}
.hero-image p{
  padding-top: 20px;
  display: block;
}
.hero-text-not p{
  font-size: 3vw;
  display: none;
}

.hero-image {
  order: 1; /* Place hero image before hero text */
}

/* UPDATE */

.hero-image-update {
  order: 1; 
}
#slide4-update h1{
  font-size: 28px;
}
#slide4-update p{
  font-size: 15px;
}

/* END OF UPDATE */

.hero-image2 img {
  max-width: 300px;
  width: 100%;
}
.hero-buttons {
  flex-direction: column;
  align-items: center;
}

.hero-buttons a {
  width: 100%;
  max-width: 300px; /* Limit button width on smaller screens */
  margin-bottom: 10px; /* Space between buttons in column layout */
}

.nav-links {
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 75px; /* Adjust based on header height */
  right: 0;
  background-color: #1c2331;
  padding: 10px;
}

.nav-links.active {
  display: flex;
}

.menu-button {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.nav-links a {
  font-size: 16px; /* Adjust font size for mobile */
  padding-left: 30px;
  text-align: left;
}

.header-logo h3 {
font-size: 15px;
}

.services-section {
  margin: 10px 20px;
}

.services-section h2{
  font-size: 25px;
}

.service-section-i {
  margin: 1px;
  flex-direction: column;
  align-items: center;
}
.service-section-i .hero-content h1{
  font-size: 20px; 
  line-height: 1.2;
  padding-bottom: 5px;
}

.service-section-i .hero-content p,
.service-section-i .hero-content li{
  font-size: 16px; 
}

.hero-content{
  margin: 30px 0  0 0;
}

.service-item {
  max-width: 100%; /* Limit button width on smaller screens */
  margin: 10px 0 10px 0;
  padding: 20px;
}

.service-item h3 {
  color: #333;
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 16px;
}
.team-members {
  flex-direction: column;
  align-items: center;
}
.team-members h3{
  font-size: 19px;
}

.team-member img{
  max-height: 100%;
  height: 400px;
}
.team h2{
  font-size: 4vw;
}

.contact-form h2 {
  font-size: 4vw;
}

.team-member {
  width: 80%;
  margin-bottom: 30px;
}

.profile-body h1 {
  font-size: 18px;
}
}
@media (max-width: 700px) {
  .why-card {
      flex: 0 0 calc(100% - 30px);
  }

  .whys-title {
      font-size: 28px;
  }
}
