  /* Reset some basic elements for consistency */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f9fc;
  }

  #header {
  background-color: #1c2331;
  padding: 20px 5%;
  color: white;
  position: sticky;
  top: 0;
  transition:  0.3s ease;
  z-index: 1000;
  }

  #header.shrink{
    padding: 5px ;
  }

  #header.shrink .header-logo img {
    height: 30px;
    width: 30px; 
  }

  #header.shrink .header-logo h3 {
    font-size: 14px; /* Smaller font size when scrolled */
  }
  #header.shrink .nav-links a {
    font-size: 14px; /* Smaller font size when scrolled */
  }

  .header-logo {
    display: flex;
    align-items: center;
  }

  .header-logo img.small-image {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    transition:  0.3s ease;
    background-color: transparent;
  }

  .header-logo h3 {
    font-size: 22px;
    transition: font-size 0.3s ease; 
  }

  .header-logo h3 a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .header-logo h3 a:hover {
    color: #f57c00;
  }

  #searchInput {
    width: 100%; 
    padding: 20px; 
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px; 
    font-size: 16px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    gap: 30px;
  }

  .menu-button {
    display: none;
  }

  .nav-links a:hover {
    color: #f57c00;
  }

  .small-image {
    max-width: 40px;
    background-color: white; /* Add white background */
    height: 40px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    display: inline-block;
    transition: color 0.3s, font-size 0.3s ease;
  }

  /* Hero Section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 8%;
    background: linear-gradient(to right, #1c2331, #003366);
    color: white;
  }

  .hero-text {
    max-width: 50%;
  }

  .hero-text h1 {
    font-size: 1.6vw;
    margin-bottom: 20px;
    line-height: 1.3;
  }

  .hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between buttons */
    padding: 10px;
  }

  .hero-buttons a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #f57c00;
    border-radius: 5px;
    border: 2px solid #f57c00;
    margin-right: 15px;
    transition: filter 0.6s ease;
  }

  .hero-buttons a:hover {
    filter: sepia(100%)  hue-rotate(180deg);

  }

  .hero-image img {
    max-width: 450px;
    width: 100%;
  }


  /* Stats Section */
  .stats {
    display: flex;
    justify-content: space-around;
    padding: 30px 5%;
    background-color: #eaeff4;
  }

  .stat-item {
    text-align: center;
    padding: 10px;
  }

  .stat-item h2 {
    font-size: 36px;
    color: #f57c00;
  }

  .stat-item p {
    font-size: 18px;
    color: #666;
  }

  .services-section h2 {
    text-align: center;
  }
  /* Service Section */
  .service-section-i {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px; /* Responsive padding */ 
  }

  .service-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }


  .service-item {
    max-width: 30%; /* Ensures items don't become too wide */
    padding: 30px;
    margin: 10px 10px 10px 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
  }

  .service-item h3 {
    color: #333;
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 1.5em;
  }

  .service-item p {
    color: #666;
    font-size: 1em;
    line-height: 1.5;
    text-align: justify; 
  }

  .services-section {
    margin: 50px ;
  }

  .service-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
  }

  .service-box h3 {
    font-size: 1em;
    color: #003366;
    margin-bottom: 20px;
  }

  .service-box ul {
    list-style-type: disc;
    padding-left: 40px;
  }

  .service-box ul li {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .service {
    padding: 2rem;
    background-color: #f4f4f4;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
  }

  /* Styling for the service cards */
  .links-pelayanan {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .link-pelayanan {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none; /* Remove underline from text */
  }

  .link-pelayanan:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .link-pelayanan img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensure the image covers the container */
  }

  .link-pelayanan h3 {
    margin: 1rem 0;
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 1rem;
    padding: 0 1rem;
    flex-shrink: 0; /* Prevent text from shrinking */
  }

  /* Flexbox container for positioning */
  .link-pelayanan .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  /* Ensure links are clickable and styled */
  .link-pelayanan a {
    text-decoration: none;
    color: inherit;
  }


  #tabel-layanan {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 50px;
  }

  .item {
    cursor: default;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-size: 1.1em;
    transition: background-color 0.3s;
  }

  .item:hover {
    background-color: #ced3e8;
  }

  /* Team Section */
  .team {
    background-color: #46527a;
    color: white;
    padding: 60px 5%;
    margin: 10px 0 0 0;
    text-align: center;
  }

  .team h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .team-members {
    
    display: flex;
    justify-content: space-between;

  }

  .team-member {
    width: 30%;
    background-color: #2e3a59;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s ease;
  }


  .team-member img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 100%;
  }

  .team-member h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .team-member p {
    font-size: 16px;
    color: #ddd;
  }

  /* Contact Form Section */
  .contact-form {
    background-color: #f7f9fc;
    padding: 60px 5%;
  }

  .contact-form h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #2e3a59;
  }

  .contact-form form {
    max-width: 600px;
    margin: 0 auto;
  }

  .contact-form label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #666;
    display: block;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #f57c00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .contact-form button:hover {
    background-color: #d86900;
  }
    
    /* Footer Section */
  .profile-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    text-decoration: none;
  }

  .profile-footer h2 {
      font-size: 1.5em;
      color: #333;
      text-decoration: none;
  }

  .footer p a {
    font-size: 1em;
    color: #fff;
    margin: 5px 0;
    text-decoration: none;
  }

  .footer {
    background-color: #0f1620;
    color: white;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
  }
    

  /* profil.html */
  .company-profile {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .logo {
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
  }

  .profile-header h1 {
    font-size: 2em;
    color: #333;
  }

  .profile-header img {
    max-width: 450px;
    width: 100%;
  }
  .profile-body {
    margin-bottom: 20px;
  }

  .profile-body p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
  }
  
  .profile-body h1 {
    font-size: 1.5vw;
  }

  .profile-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }

  .profile-footer h2 {
    font-size: 1.5em;
    color: #333;
  }

  .profile-footer p a {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
    text-decoration: none;
  }

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff7300;
    color: white;
    border: none;
    font-size: 1em;
    padding: 15px 15px;
    cursor: pointer;
    display: none; /* Initially hidden */
    z-index: 1000;
  }

  .whatsapp {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #00FF00;
    border-radius: 100%;
    color: white;
    border: none;
    font-size: 1em;
    padding: 15px 15px;
    cursor: pointer;
    z-index: 1000;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .gallery-item {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .gallery-item:hover img {
    transform: scale(1.1);
  }
.notaris-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.notaris-table thead {
    background-color: #d9eaf5;
}

.notaris-table th, .notaris-table td {
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-align: left;
}

.notaris-table th {
    font-weight: bold;
    text-transform: uppercase;
}

.notaris-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.notaris-table tbody tr td strong {
    display: block;
    margin-bottom: 5px;
}

.notaris-table tbody tr ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.notaris-table tbody tr ul li {
    margin-bottom: 5px;
}.notaris-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.notaris-table thead {
    background-color: #d9eaf5;
}

.notaris-table th, .notaris-table td {
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-align: left;
}

.notaris-table th {
    font-weight: bold;
    text-transform: uppercase;
}

.notaris-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.notaris-table tbody tr td strong {
    display: block;
    margin-bottom: 5px;
}

.notaris-table tbody tr ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.notaris-table tbody tr ul li {
    margin-bottom: 5px;
}

.tablepress {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Table header styling */
.tablepress thead th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid #ddd;
}

/* Table cell styling */
.tablepress td, .tablepress th {
  padding: 8px;
  border: 1px solid #ddd;
  vertical-align: top;
}

/* Alternating row colors */
.tablepress tbody tr.odd {
  background-color: #f9f9f9;
}

.tablepress tbody tr.even {
  background-color: #ffffff;
}

/* Responsive table */
.tablepress-responsive {
  width: 100%;
  overflow-x: auto;
}

/* Adjust table width */
.tablepress-scroll-wrapper {
  overflow-x: auto;
}

/* Header row */
.tablepress thead th.column-2 {
  width: 40%;
}

.tablepress thead th.column-3 {
  width: 10%;
}

.tablepress thead th.column-4 {
  width: 50%;
}

/* Add hover effect for rows */
.tablepress tbody tr:hover {
  background-color: #eaeaea;
}
  @media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .link-pelayanan {
    width: 25%;
    max-width: 300px;
  }

  .hero-text {
    order: 2; /* Place hero text after hero image */
    max-width: 100%;
    margin-bottom: 30px;
  }

  .hero-text h1{
    font-size: 4.5vw;
  }

  .hero-text p{
    font-size: 3vw;
  }

  .hero-image {
    order: 1; /* Place hero image before hero text */
  }
  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .hero-buttons a {
    width: 100%;
    max-width: 300px; /* Limit button width on smaller screens */
    margin-bottom: 10px; /* Space between buttons in column layout */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 75px; /* Adjust based on header height */
    right: 0;
    background-color: #1c2331;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-button {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-links a {
    font-size: 16px; /* Adjust font size for mobile */
    padding-left: 30px;
    text-align: left;
  }

  .header-logo h3 {
  font-size: 18px;
  }

  .stats {
    flex-direction: column;
    padding: 60px 5%;
    align-items: center;
  }

  .stat-item {
    margin-bottom: 20px;
  }

  .services-section {
    margin: 10px 50px;
  }

  .service-section-i {
    flex-direction: column;
    align-items: center;
  }

  .service-item {
    width: 100%;
    max-width: 100%; /* Limit button width on smaller screens */
    margin-bottom: 10px; /* Space between buttons in column layout */
  }

  .service-box {
    margin-bottom: 20px;
  }

  .team-members {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    width: 80%;
    margin-bottom: 30px;
  }

  .profile-body h1 {
    font-size: 3.5vw;
  }
  }
    
